.container {
    padding: 50px 0
}

.howItWorksTitle {
    font-family: 'Roboto Slab';
    font-size: 2rem;
    font-weight: 300;
    color: #416543;
    text-align: center;
}

.howItWorksGridItem {
    text-align: 'center';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.howItWorksImage {
    width: 400px;
    height: auto;
    padding-top: 50px;
    margin-bottom: 50px;
}

.howItWorksStepTitle {
    font-family: 'Roboto Slab';
    font-size: 2rem;
    font-weight: 300;
    color: #416543;
    text-align: center;
}

.howItWorksDescription {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    color: #416543;
    text-align: center;
}

@media (max-width: 992px) {
    .howItWorksImage {
        width: 200px;
        height: auto;
        padding-top: 50px;
        margin-bottom: 50px;
    }
}